html{
    display: flex;
    justify-content: center;
    background-color: #060d17;
    background-image: url(/images/space-gif-background2.gif);
    background-size: cover;
    
}
body{
    margin: 0;
    width: 80vw;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 7vh 23vh 40vh 30vh 1fr;
    background-color: #060d17;
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.196);
}


#carouselExampleCaptions, .carousel .slide{
    height: 90vh;
}

img{
    height: 93vh;
}

main{
    grid-area: 2/ 1 / 5 / 6;
}


@media screen and (max-width:900px) {
    body{
        width: 100vw;
    }
}
